SECRET_KEY=django-insecure-bg*_d2#-j_d*$(7r2e0pl3%qipprj=lre)hfgz8abmk6ad#02f
DEBUG=False
ALLOWED_HOSTS=yourdomain.com,www.yourdomain.com
TELEGRAM_BOT_TOKEN=8371012579:AAH0oYGuAefGLob-TuCDpCNP0xSkoWtn66Q
TELEGRAM_BOT_USERNAME=@dorilarim_2026_bot
